<div class="container text-center">
  <div class="row p-3">
    <p class="fs-1">Carga de centros de salud</p>
  </div>
  <div class="row p-3">
    <div class="container-md col">
      <h5>Seleccionar fuente(s) de datos:</h5>
    </div>
    <div class="container-md col check">
      <div class="form-check">
        <input #baleares class="form-check-input" type="checkbox" id="baleares" />
        <label class="form-check-label" for="defaultCheck1">
          Illes Balears
        </label>
      </div>
      <div class="form-check">
        <input #valencia class="form-check-input" type="checkbox" id="valencia" />
        <label class="form-check-label" for="defaultCheck1">
          Comunitat Valenciana
        </label>
      </div>
      <div class="form-check">
        <input #euskadi class="form-check-input" type="checkbox" id="euskadi" />
        <label class="form-check-label" for="defaultCheck1"> Euskadi </label>
      </div>
    </div>
  </div>

  <div class="row p-3 buttons">
    <button
      type="button"
      class="btn btn-sm btn-secondary btn-lg"
      (click)="onSearch()"
    >
      Cargar
    </button>

    <button type="button" class="btn btn-danger" (click)="onClear()">
      Vaciar el warehouse
    </button>
  </div>
  <div class="row">
    <div class="resultados col p-3 text-start">
      <p class="fs-4">Resultados:</p>
      <div
        class="resultados__container container-fluid bg-secondary text-white py-1 overflow-auto"
      >
        <div class="resultados__title">- Resultado de la búsqueda:</div>
          <p> {{ resultadosV }}</p>
          <p> {{ resultadosB }}</p>
          <p> {{ resultadosE }}</p>
          <p> {{ resultadoDelete}}</p>
      </div>
    </div>
  </div>
</div>
